<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky</title>
</head>

<body>
    <p>Your lucky number is {{lucky_num}}</p>
    {% if lucky_num == 14 %}
    <p>me too maaaan</p>
    {% else %}
    <p>cool, man. nice number</p>
    {% endif %}
    <br>
    <ul>
        {% for num in range(10) %}
        <li>this is number {{num+1}} of 10 for a loop demo</li>
        {% endfor %}
    </ul>
</body>

</html>